<%= javascript_include_tag "user.js" %>

    <div class="container container-user">
        <h3>アカウント管理</h3>
        <div class="row">
            <div class="table-user">
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for i in 1..50 do %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><input id="checkBox" type="checkbox"></td>
                                    <td>000<%= i %></td>
                                    <td>テスト<%= i %>太郎</td>
                                    <td>test-taro-<%= i %>@exmaple.com</td>
                                </tr>
                                <% end %>
                            
                            
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="row row-button">
            <%= link_to "追加", user_edit_path ,{class: "btn btn-success" }%>
            <button class="btn btn-danger" disabled>
                削除
            </button>

        </div>
    </div>
    <!-- /.container -->