<!DOCTYPE html>
<html>

<head>
  <title>Google Auth Example App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <header>
        <nav>
          <ul class="main-nav">
            <li>
              <%= link_to "GoogleOAuth", root_path ,{class: "a-button logo" }%>
            </li>
            <li>
              <a class="a-button" href="#">権限設定</a>
            </li>
            <li>
              <a class="a-button" href="#">テンプレート適用</a>
            </li>
            <li>
              <a class="a-button" href="#">テンプレート管理</a>
            </li>
            <li>
              <a class="a-button" href="#">サブシステム管理</a>
            </li>
            <li>
              <%= link_to "アカウント管理", user_index_path ,{id: "nav-user", class: "a-button" }%>
            </li>
            <li>
              <% if user_signed_in? %>
                <!-- Signed in as
                  <strong>
                    <%= current_user.name %>
                  </strong>! -->
                <%= link_to "Sign out", signout_path, {id: "sign_out", class: "a-button login"} %>
                  <% else %>
                    <%= link_to "Sign in with Google", user_google_omniauth_authorize_path, {id: "sign_out", class: "a-button login"} %>
                      <% end %>

            </li>
          </ul>
        </nav>

  </header>

  <div>
    <%= yield %>
  </div>

  <footer>
        <p>(C) 2018 kozimon0204</p>
  </footer>
</body>

</html>